@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

.class-form-container {
    width: 300px;
    margin: auto;
    background: #fff; /* Assuming white background, adjust if needed */
    
}

.class-form-header {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    /* Directly set the color used in your image for the header */
    color: #000000 /* Replace with the hex code of the color you want */
}

.class-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.class-form input {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border: 2px solid #326C6F;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

.class-form button {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: calc(100% - 20px);
    border: none;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background: #326C6F; /* Replace with the hex code of the color you want */
    color: white;
}

.class-form button:hover {
    background: #224957; /* Replace with the hex code of the hover color you want */
}

.class-form input:focus {
    border-color: #0056b3; /* Replace with the hex code of the focus color you want */
    outline: none;
}

/* If you have any error messages within the form */
.class-form .error {
    color: #ff0000; /* Replace with the hex code of the error color you want */
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}
