/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #000000;
  --error: #9c9117;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: Verdana, sans-serif;}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.story-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.story-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.story-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.story-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new story form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 30%;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--error);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: Verdana, sans-serif;
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  padding: 0 20px; /* Adjust padding as needed */
  background: #fff;
}

.nav-logo h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800; /* Using the imported Poppins font */
  color: var(--primary);
  margin: 0;
}

.nav-links {
  display: flex;
  list-style-type: none; /* Remove bullet points from list */
  margin-left: auto; /* Push the navigation to the right */
}

.nav-item {
 
font-family: 'Poppins', sans-serif;
font-weight: 400; 
color: var(--primary);
text-decoration: none;
margin: 0 15px; /* Adjust spacing between navigation items */
transition: color 0.3s ease;  /* Transition property for smooth color change */
}

.nav-item:hover {
color: var(--error); /* Color change on hover */
}

.nav-icon {
font-size: 24px; /* Icon size */
color: var(--primary);
cursor: pointer;
}

.createstorylink {
  margin-left: 80%;
  margin-right: 1%;
  padding-left: 2px; 
  padding-right: 2px;
  border: 1px solid #0a6e1a;
  background-color: #0a6e1a;
  color: white;
  border-radius: 10px;
  display: inline-block;
  transition: background-color 0.3s; 
  color: #9c9117;
}

.createstorylink:hover {
  background-color: #04390a;
}

.createstorytitle {
  text-align: center;

}

/* logo styles */
.logo-container {
  display: flex; /* Displays flexbox items inline */
  justify-content: center; /* Aligns logo horizontally */
  align-items: center; /* Aligns logo vertically */
  min-height: 100px; /* Adjust min-height as needed */
  width: 100%;
}

textarea {
  width: 100%;
  height: 300px;
}

.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}
