.class-form .loginPage {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border: 2px solid #326C6F;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black
}