@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

.student-form-container {
  width: 300px;
  margin-top: 50px;
}

.student-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.student-form input {
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
  border: 2px solid #326C6F;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  margin: 10px 0;
}

.student-form input:focus {
  border-color: #0056b3;
  outline: none;
}

.student-form .error {
  color: #ff0000;
  font-family: 'Poppins', sans-serif;
  margin: 10px 0;
}

.student-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  /* Adjust the minmax() to control the card sizes */
  gap: 20px;
  /* Adjust the space between cards */
  padding: 20px;
  justify-content: center;
  /* Centers cards in the container */
}

.student-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Aligns items to the start of the card */
  justify-content: space-between;
  height: 350px;
  position: relative;
  /* Ensures the card takes up all the height available */
  padding: 20px;
  /* Adjust the padding inside the card */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Soft shadow for depth */
  border-radius: 10px;
  /* Rounded corners */
  background: #fff;
  /* White background */
  width: 100%;
  /* Card width is determined by the grid */
  box-sizing: border-box;
  /* Include padding in the width */
  transition: transform 0.3s ease;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  /* Ensures no content spills out */
  border: 1px solid #e0e0e0;
  /* Light border similar to the example */
}

.student-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Styling for the h1 element */
h1 {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  /* Adjust the color as needed */
  font-size: 35px;
  /* Adjust the size as needed */
  margin-top: 100px;
  /* Spacing from the top */
}

.class-name {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  /* Adjust the color as needed */
  font-size: 30px;
  font-weight: bold;
  /* Adjust the size as needed */
  margin-top: 100px;
  /* Spacing from the top */
}

.student-card-image {
  position: absolute;
  /* Position the image absolutely within the card */
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
  width: 100%;
  /* Full width of the card */
  height: 55%;
  /* Full height of the card */
  object-fit: contain;
  /* The image will fit within the card, fully visible */
  margin: auto;
  /* Center the image */
  border-top-left-radius: 10px;
  /* Match the card's border radius */
  border-top-right-radius: 10px;
}

.student-card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  /* Adjust the padding as needed */
}

.student-name {
  font-weight: bold;
  /* Makes the student's name bold */
}

.student-card-info span {
  display: block;
  /* Each span on a new line */
  font-size: 18px;
  /* Adjust font size as needed */
  margin-bottom: 5px;
  /* Space between lines */
}

.standard-button {
  padding: 10px 20px;
  /* Consistent padding */
  font-size: 16px;
  /* Standard font size */
  width: 180px;
  /* Standard width */
  border: none;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: #326C6F;
  color: white;
  margin: 10px auto;
  /* Center the button */
  display: block;
  /* Ensure block level for margin auto */

}

.standard-button:hover {
  background: #224957;
}

.modal {
  display: flex;
  flex-direction: column;
  /* Stack children vertically */
  justify-content: center;
  /* Center children vertically in the viewport */
  align-items: center;
  /* Center children horizontally in the viewport */

}

form {
  display: flex;
  flex-direction: column;
  /* Stack elements vertically */
  align-items: center;
  /* Align form elements to the center */
  justify-content: center;
  /* Center form elements vertically, if needed */
}

.form-row {
  display: flex;
  justify-content: center;
  /* Center elements within the row */
  align-items: center;
  width: 100%;
  /* Full width to allow inner content to center properly */
  margin-bottom: 5px;
}


.form-row select {
  flex-grow: 1;
  /* Allow select to grow and fill the space */
  margin: 0 10px;
  /* Spacing on left and right */
  padding: 8px 20px;
  /* Aesthetic padding */
}

/* Button styles for transfer and cancel actions */
.action-button {
  flex-grow: 1;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  display: inline-block;
  /* Allows buttons to sit side by side */
  margin: 0 10px;
  /* Spacing between buttons */
}

.transfer-button {
  background-color: #4CAF50;
  /* A nice shade of green */
  color: white;
}

.transfer-button:hover {
  background-color: #45a049;
  /* A darker shade of green */
  transform: scale(1.05);
  /* Slightly enlarge on hover */
}

.cancel-button {
  background-color: #f44336;
  /* A bright shade of red */
  color: white;
}

.cancel-button:hover {
  background-color: #d32f2f;
  /* A darker shade of red */
  transform: scale(1.05);
  /* Slightly enlarge on hover */
}