@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

.student-form-container {
  width: 300px;
  margin-top: 50px;
}

.student-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.student-form input {
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
  border: 2px solid #326C6F;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  margin: 10px 0;
}

.student-form button {
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
  width: calc(100% - 40px);
  border: none;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: #326C6F;
  color: white;
}

.student-form button:hover {
  background: #224957;
}

.student-form input:focus {
  border-color: #0056b3;
  outline: none;
}

.student-form .error {
  color: #ff0000;
  font-family: 'Poppins', sans-serif;
  margin: 10px 0;
}

.student-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  /* Adjust the minmax() to control the card sizes */
  gap: 20px;
  /* Adjust the space between cards */
  padding: 20px;
  justify-content: center;
  /* Centers cards in the container */
}

.student-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Aligns items to the start of the card */
  justify-content: space-between;
  height: 100%;
  /* Ensures the card takes up all the height available */
  padding: 20px;
  /* Adjust the padding inside the card */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Soft shadow for depth */
  border-radius: 10px;
  /* Rounded corners */
  background: #fff;
  /* White background */
  width: 100%;
  /* Card width is determined by the grid */
  box-sizing: border-box;
  /* Include padding in the width */
  transition: transform 0.3s ease;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  /* Ensures no content spills out */
  border: 1px solid #e0e0e0;
  /* Light border similar to the example */
}

.student-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Styling for the h1 element */
h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  /* Adjust the color as needed */
  font-size: 25px;
  /* Adjust the size as needed */
  margin-top: 20px;
  /* Spacing from the top */
}

/* Styling for the button in ClassDetails */
.student-details-button {
  padding: 10px;
  font-size: 16px;
  margin: 10px auto;
  width: auto;
  /* Adjust width as needed */
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: #326C6F;
  /* Adjust background color as needed */
  color: white;
  display: block;
  /* To enable margin auto to work */
}

.student-details-button:hover {
  background: #224957;
  /* Adjust hover background color as needed */
}

.student-card-image {
  width: 100%;
  /* Full width of the card */
  height: 150%;
  /* Maintain aspect ratio */
  border-top-left-radius: 10px;
  /* Match the card's border radius */
  border-top-right-radius: 10px;
  object-fit: cover;
  /* Ensures the image covers the area */
}

.student-card-info {
  margin-top: auto;
  padding: 15px 0;
  /* Spacing inside the card */
}

.student-name {
  font-weight: bold;
  /* Makes the student's name bold */
}

.student-card-info span {
  display: block;
  /* Each span on a new line */
  font-size: 18px;
  /* Adjust font size as needed */
  margin-bottom: 5px;
  /* Space between lines */
}